<a href="https://colab.research.google.com/github/CataDecas/Repositorio_Algoritmos/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
# Concatenating two strings.
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
# Print the concatenating of those strings.
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

An integer is a round number with no values after the decimal point.

In [ ]:
# Assigning the value 10 to the variable my_int.
my_int = 10
# Printing the value of the variable my_int.
print(my_int)
# Printing the type of the variable my_int.
print(type(my_int))

10
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
# Assigning the string "100" to the variable my_string.
my_string = "100"
# Printing the type of the variable my_string.
print(type(my_string))
# Converting the string "100" to an integer.
my_int = int(my_string)
# Printing the type of the variable my_int.
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
# Converting the string "100" into a float 100.0
my_string = "100"
my_float = float(my_string)
# Checking the type of the variable my_float and printing.
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
# Assigning the boolean value False to the variable my_bool.
my_bool = False
# Printing the value of the variable my_bool.
print(my_bool)
# Printing the type of the variable my_bool.
print(type(my_bool))

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
# Doing basic math operations like addition, substraction, multiplication, division and exponent. At the last printing.
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
# Printing the result of the division of 1 by 3 == Float
print(1/3)
# Printing the result of the division of 1.0 by 3 ---> Float / integer == Float
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
# Creating a list with two elements, `'Quant'` and `'Connect'`.
my_list = ['Quant', 'Connect']#, 1,2,3]
# Printing the list, my_list.
print(my_list)

['Quant', 'Connect']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
# Creating a list with the following items:'Quant','Connect',1,2,3
my_list = ['Quant', 'Connect', 1,2,3]
# Returning the length of the list.
print(len(my_list))
# Returning the first item in the list ---> 'Quant'.
print(my_list[0])
# This is a way to access the last item in the list.
print(my_list[len(my_list) -1])

5
Quant
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
# Creating a list with 5 elements: 'Quant','Connect',1,2,3.
my_list = ['Quant','Connect',1,2,3]
# Replacing the third element of the list with the string 'go'.
my_list[2] = 'go'
# Printing the list with the replace of the third element.
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

A list can also be sliced with a colon:

In [ ]:
# Creating a list with the following elements: 'Quant', 'Connect', 1, 2, 3
my_list = ['Quant','Connect',1,2,3]
# Slicing the list from index 1 to index 3 (not including 3) and printing.
print(my_list[1:3])

['Connect', 1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
# Printing the list from index 1 to the end of the list.
print(my_list[1:])

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
# Printing the first three elements of the list.
print(my_list[:3])

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
# Creating a list with two elements, `Hello` and `Quant`.
my_list = ['Hello', 'Quant']
# Adding the string `Hello` to the end of the list with the .append function.
my_list.append('Hello')
#Print the new list
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
# This is creating a tuple with 3 elements.
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
# This is creating a tuple with 3 elements.
my_tuple = ('Welcome','to','QuantConnect')
# This is slicing the tuple from the second element to the end and printing.
print(my_tuple[1:])

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
# Creating a list.
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
# Converting a list to a set.
# stock_set is Creating a set of unique elements from the list.
stock_set = set(stock_list)
# Printing the unique elements in the list.
print(stock_set)

{'IBM', 'F', 'AAPL', 'GOOG', 'FB'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
# Creating a dictionary with 3 key-value pairs.
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
# Printing the value of the key `GOOG` in the dictionary `my_dic`.
print(my_dic['GOOG'])

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
# Adding a new key-value pair to the dictionary.
my_dic['GOOG'] = 'Alphabet Company'
# Printing the new value of the key `GOOG` in the dictionary `my_dic`.
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
# Printing all the keys in the dictionary.
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
# String object.
my_str = 'Welcome to QuantConnect'
# Slicing the string object from the 8th character to the end and printing.
print(my_str[8:])

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
# Counting the number of e in the sentence and printing == 7
print('Counting the number of e appears in this sentence'.count('e'))
# Finding the first time that the letter e appears in the sentence and printing the index of that letter == 2.
print('The first time e appears in this sentence'.find('e'))
# Replacing all the a in this sentence now becomes e with e and printing.
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
# Assigning the string '2016-04-01 09:43:00' to the variable `Time`.
Time = '2016-04-01 09:43:00'
# Spliting the string `Time` by the character `' '` and assigning the result to the variable `splited_list`.
splited_list = Time.split(' ')
# Assigning the first element of the list `splited_list` to the variable `date`.
date = splited_list[0]
# Assigning the second element of the list `splited_list` to the variable `time`.
time = splited_list[1]
# Splitting the string `Time` by the character `' '` and assigning the result to the variable `splited_list` and printing.
print(date, time)
# Splitting the string `time` by the character `':'` and assigning the first element of the resulting list to the variable `hour`.
hour = time.split(':')[0]
# Printing the first element of the list `time` which is `'09:43:00'`.
print(hour)

2016-04-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
# This is a string formatting operation, where the string `'Hour: {}, Minute:{}'` is being formatted with two other strings, `'09'` and `'43'`.
my_time = 'Hour: {}, Minute:{}'.format('09','43')
# Printing the string `'Hour: 09, Minute:43'`
print(my_time)

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
# Printing the string 'the pi number is 3.14' with the format %f
print('the pi number is %f'%3.14)
# Printing the string 'Welcome to Quantconnect'with %s 'Welcome' and 'Quantconnect' 
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
# Comparing two numbers and returning a boolean value (True or False) so, in order of ideas:
# Comparing 1 to 0 and returning a boolean value
print(1 == 0)
# Comparing 1 to 1 and returning a boolean value (True)
print(1 == 1)
# Comparing 1 to 0 with != (not equal) and returning a boolean value (True)
print(1 != 0)
# Comparing 5 to 5 with >= (Greater-Than) and returning a boolean value (True)
print(5 >= 5)
# Comparing 5 to 6 with >= (Greater-Than) and returning a boolean value (False)
print(5 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
# This is a logical operator that is checking if 2 is greater than 1 and if 3 is greater than 2 and returning a boolean value (True).
print(2 > 1 and 3 > 2)
# This is a logical operator that is checking if 2 is greater than 1 and if 3 is less than 2 and returning a boolean value (False).
print(2 > 1 and 3 < 2) 
# This is a logical operator that is checking if 2 is greater than 1 or if 3 is less than 2 and returning a boolean value (True).
print(2 > 1 or 3 < 2)
# This is a logical operator that is checking if 2 is less than 1 and if 3 is less than 2 and returning a boolean value (False).
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
# Logical comparisons with p, q, r statements separated with parenthesis and return a Boolean value.
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))) # False
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))) # True

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
# A simple if statement and it returns 'i==0 is True'.
i = 0
if i == 0: #True
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
# Assigning the boolean value of True to the variable p.
p = 1 > 0
# Assigning the boolean value of False to the variable q.
q = 2 > 3
# Checking if p and q is true and printing.
if p and q:
    print('p and q is true')
# Checking if p is true and q is false and printing.
elif p and not q:
    print('q is false')
# Checking if q is true and p is false and printing.
elif q and not p:
    print('p is false')
# A catch all statement. If none of the above statements are true, then it will execute the code under and printing. 
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
# Checking if i is less than 5, and if it is, it will print i and then add 1 to i.
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
# Iterating over the list [1,2,3,4,5] and printing each element.
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
# Creating the list stocks.
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
# Creating a list of stocks that we want to exclude from our original list.
selected = ['AAPL','IBM']
# Creating an empty list.
new_list = []
# Iterating through each element in the list stocks.
for i in stocks:
    # Checking if the element is not in the list selected.
    if i not in selected:
        # Appending the element i to the new_list.
        new_list.append(i)
# Printing the list stocks.
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
# Creating the list  stock.
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
# Iterating through each element in the list stocks.
for i in stocks:
    # Printing the current element in the list.
    print(i)
    # If the current element in the list is equal to 'FB', then the code will break out of the loop.
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
# Creating the list stocks.
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
# Iterating through each element in the list stocks.
for i in stocks:
    # Checking if the element is equal to 'FB'. If it is, then it will skip the rest of the code and go to the next element.
    if i == 'FB':
        continue

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
# Creating an empty list.
squares = []
#Iterating through each element in [1,2,3,4,5].
for i in [1,2,3,4,5]:
    # Appending the element i**2 to the squares and it will print it
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
# In this cell, it do the same as the previous task but with a list cpmprehension.
list = [1,2,3,4,5]
# It will square the elements that are in the list and print it.
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
# We have two lists, stocks and selected, we can notice that the elements of the second list are in the first list. 
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
#Using a list comprehension iterate over stocks and selected and check if the items in selected are in stock 
new_list = [x for x in stocks if x in selected]
#It will print the elements that match the previous step 
print(new_list)

['AAPL', 'IBM']

In [ ]:
# Using a list comprehension, it performs a cartesian product and prints it in ascending order. 
"""
Variables: x,y
x: [1,2,3] 
y: [3,1,4]

"""
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
# This function aims to return the multiplication of two given parameters when calling the function at the end.
# It is then printed.
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [1]:
#The function is defined and subsequently called, with the objective of only printing the message 'Welcome to QuantConnect'
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10)) # Contains the range of numbers from 0 to 9.
print(range(1,11)) # Continue the range of numbers from 1 to 10.
print(range(1,11,2)) # Continue the range of numbers from 1 to 10, but count them 2 by 2.

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
# There is a list with strings and the len function is implemented
"""
The LEN function returns an integer value indicating the number of characters 
in the input string. If the input string is a character string, 
the LEN function returns an actual number of characters in multibyte strings
not the number of bytes.

"""
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers))) # Print the message `The length of tickers is` along with the length
for i in range(len(tickers)):
    print(tickers[i]) # Print the items in the tickers list

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
# an element is removed from a list by index with the embedded statement del, it does not return a removed value
print(list) # [1,2,3,4,5]
del list # It is eliminated
list # Just call the function

[1, 2, 3, 4, 5]

list

In [ ]:
"""
The map() function takes a function and a list and applies that function 
to each element in that list, producing a new list.
"""
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
# So it's going to apply the len function to each element of the list and then, print it.
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [3]:
# Performs the previous procedure but does the double function of printing, because the map function already returns
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
# A list is created and the map function is applied to it to iterate over it.
# Set lambda to declare a function whose goal will be to square the numbers in the range 0 to 9
# Simplify the above code by using a lambda function to replace the map() call
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
"""
The lambda function performs the sum of x,y through iteration with the map function, then returns a single list with the result.

Operations: 
 1 + 5
  2 + 4
  3 + 3
  4 + 2
  5 + 1
  
"""
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
"""
The sorted() function returns a sorted list of the specified iterable object.
You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.
"""
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
# price_list compares all the elements with the key that is at index 1, then it will return an ordered list.
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
"""
The same procedure as the previous step will be carried out but with the reverse 
function what is done is to invert the values, so they are ordered in descending order
"""
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
"""
The sort() method sorts the list ascending by default. 

"""
# we declare the lambda function so that it compares the elements with a key that is at index 1
# The .sort function sorts the list in ascending order but does not return, so we must call the print function to do so
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
# Define the class
class stock:
    def __init__(self, ticker, open, close, volume): # Define the __init__ function and attributes
          
        """
        Atributtes: 

          ticker : Any
          open : Any
          close : Any
          volume : Any
          rate_return : Any
          
          """
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1 # An operation is performed that returns a value of type float
 
    def update(self, open, close): # An operation is performed that returns a value of type float
    # values are given to the parameters
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1 # An operation is performed that returns a value of type float
 
    def print_return(self): #The function that will print the result of the class composition is defined
        print(self.rate_return) # Does not return anything because no parameters are passed to it

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
"""
Pass the parameters in order: 
"ticket", 
"open", 
"close", 
"volume",
"rate_return" 
to the variables apple and google
"""
apple = stock('AAPL', 143.69, 144.09, 20109375) 
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:


"""
Access the attributes of a Stock object and call its methods

Attributes:

ticker : str

"""
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
# Update the value of the variables
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
# The function dir() returns a list of valid attributes of the object
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
# It refers to defining a new class with little or no modification to an existing class.
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name) # aa = "aa"
aa.update(100,102) # aa = 100, 102
print(aa.open) # returns a file object which can used to read, write and modify the file
print(aa.close) # la funcion .close cierra el archivo que se abrio previamente pero no retorna nada
print(aa.print_return()) # Tenienmdo en cuenta el paso anterior no retorna nada porque se cierrra el archivo

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
# Library for numerical calculation
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
# np.array create a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers.
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array)) # Print the grid of values and the type of that values

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
# It will create a 2-dimensional array so, it print a matrix
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar)) # Print the previous step and the type of the elementes in the matrix

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
# We get the dimensions of an ndarray using the .shape attribute
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
# [[1,3] as [0] and [2,4] as [1] and then print the elementes que estan en esos indices
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
# access the matrix by column with [:, #], # is the index that we want
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
# Within the variety of mathematical functions we have log, that is, logarithm.
print(np.log(price_array)) # This attribute applies logarithm to each element of the array

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array)) # This is  used to calculate mean/average of a given list of numbers
print(np.std(price_array)) # This is used to compute the standard deviation along the specified axis. 
print(np.sum(price_array)) # This is used for Sum the numbers in the list is required.
print(np.max(price_array)) # It returns the largest item in an iterable.

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
# pandas is a software library written as an extension to NumPy for data manipulation and analysis
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price) # the function .Series return the first element of the underlying data as a Python scalar.
# We must take into account that the series at the end return the data type

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
# Perform the same procedure but here we can modify the name of the indexes, adding them manually
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
# we can change the indices of an existing Serie, the Serie was price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
# We can choose from which part of the list we want to modify, print, etc.
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
# price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
print(s[4]) # return the value it takes at index [4]
s[4] = 0 # Update the value of index [4]
print(s) # Print with the updated value

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
# The details of the series are instantiated, in this case the name given to it
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [ ]:
"""
 The function describe() method is used for calculating some statistical data like percentile,
 mean and std of the numerical values of the Series or DataFrame. 
 It analyzes both numeric and object series and also the DataFrame column sets of mixed data types.
"""
print(s.describe())
# So, in this case we have, count, mean, std, min, max and the quartiles

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
# The common functionality with other Index types first, then talk about the basics of partial string indexing.
# So each date corresponds to an index, and the value of price on the right side
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index) # Print the parameters that are given to Time Index
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
# The corresponding indices are instantiated, then print the series
s.index = [6,5,4,3,2,1]
print(s)
print(s[1]) # Print the element of the series that corresponds to index [1]

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
"""
Is used in DataFrames to select elements based on their location. 
Its syntax is data. iloc[<rows>, <columns>] ,
where <rows> and <columns> are the position of the rows and columns that
you want to select in the order that they appear in the object.

"""
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
# Now the location of the element will be taken as the index corresponding to the indicated date
s.index = time_index # The use of time_index must be specified to comply with the search
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [ ]:
# The use of time index must be specified to comply with the search 
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] ) # with .mean we calculate mean/average of a given list of numbers, so we do a comparison in the serie, if it is true it will print the serie.
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))]) # In this step we add the condition, but it returns in a list because we are index data.

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
#Yfinance is a python package that enables us to fetch historical market data from Yahoo Finance API in a Pythonic way
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas>=0.24.0 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from yfinance) (1.3.4)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp39-cp39-win_amd64.whl (3.6 MB)
     ---------------------------------------- 3.6/3.6 MB 14.4 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.26 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from yfinance) (1.21.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests>=2.26->yfinance) (2.0.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: six>=1.5 in c:\users\alfre\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=438009a63b648d2659886040df73993cc677d5de125ea2d6b92df9bc43f56b32
  Stored in directory: c:\users\alfre\appdata\local\pip\cache\wheels\f2\b5\2c\59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
Successfully built multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.8.0 multitasking-0.0.10 yfinance-0.1.70

  WARNING: The script sample.exe is installed in 'C:\Users\alfre\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 22.0.2; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\alfre\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [ ]:
# According to the data we need, this library helps us to search for historical data and returns them in tabular form
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 154.73, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EST', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-18000000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.994, 'beta3Year': None, 'enterpriseToEbitda': 20.636, '52WeekChange': 0.30975795, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59424996, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.080180764, 'priceToBook': 35.149933, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2645842722816, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.674457, 'dateShortInterest': 1646006400, 'pegRatio': 1.73, 'ytdReturn': None, 'forwardPE': 23.58689, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 158.52, 'regularMarketOpen': 158.93, 'twoHundredDayAverage': 153.4692, 'trailingAnnualDividendYield': 0.0054567247, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 159.2799, 'navPrice': None, 'averageDailyVolume10Day': 93466040, 'regularMarketPreviousClose': 158.52, 'fiftyDayAverage': 169.1304, 'trailingAnnualDividendRate': 0.865, 'open': 158.93, 'toCurrency': None, 'averageVolume10days': 93466040, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 154.5, 'currency': 'USD', 'trailingPE': 25.724024, 'regularMarketVolume': 96751562, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2525100769280, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 97572501, 'dayLow': 154.5, 'ask': 154.7, 'askSize': 2900, 'volume': 96751562, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 154.56, 'tradeable': False, 'dividendYield': 0.0056, 'bidSize': 1000, 'dayHigh': 159.2799, 'regularMarketPrice': 154.73, 'preMarketPrice': 158.96, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590638,24.225178,23.450395,24.220579,270597600,0.0,0
2016-01-05,24.312538,24.335529,23.544654,23.613625,223164000,0.0,0
2016-01-06,23.119325,23.535456,22.960692,23.151512,273829600,0.0,0
2016-01-07,22.687106,23.020469,22.169818,22.174416,324377600,0.0,0
2016-01-08,22.657217,22.785964,22.245686,22.291666,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713653,41.890367,41.670671,41.792458,65397600,0.0,0
2017-12-26,40.787105,40.947100,40.519646,40.732182,132742000,0.0,0
2017-12-27,40.619949,40.782332,40.526817,40.739349,85992800,0.0,0
2017-12-28,40.834869,41.037851,40.710692,40.853973,65920800,0.0,0
2017-12-29,40.720240,40.736954,40.409799,40.412186,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:

print(aapl)

Date
2017-01-03    27.297691
2017-01-04    27.267141
2017-01-05    27.405804
2017-01-06    27.711330
2017-01-09    27.965155
                ...
2017-12-22    41.792458
2017-12-26    40.732182
2017-12-27    40.739349
2017-12-28    40.853973
2017-12-29    40.412186
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
# Specify the details, in this case the date, so for the prescribed data of March 2017
print(aapl['2017-3'])

Date
2017-03-01    32.996025
2017-03-02    32.800114
2017-03-03    32.993664
2017-03-06    32.889809
2017-03-07    32.932293
2017-03-08    32.809551
2017-03-09    32.734013
2017-03-10    32.842606
2017-03-13    32.856762
2017-03-14    32.807194
2017-03-15    33.154175
2017-03-16    33.208481
2017-03-17    33.043240
2017-03-20    33.390217
2017-03-21    33.007828
2017-03-22    33.380772
2017-03-23    33.262756
2017-03-24    33.196667
2017-03-27    33.253304
2017-03-28    33.942554
2017-03-29    34.018078
2017-03-30    33.973248
2017-03-31    33.909508
Name: Close, dtype: float64

In [ ]:
# We specify the date on which we want to obtain the data, in this case from '2017-2' to '2017-4'
aapl['2017-2':'2017-4']

Date
2017-02-01    30.258955
2017-02-02    30.207253
2017-02-03    30.336519
2017-02-06    30.620886
2017-02-07    30.912313
                ...
2017-04-24    33.904778
2017-04-25    34.114861
2017-04-26    33.914219
2017-04-27    33.940182
2017-04-28    33.907139
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
#The head() function is used to get the first n rows. This function returns the first n rows for the object based on position. 
# Return the last n rows. This function returns last n rows from the object based on position.
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.297691
2017-01-04    27.267141
2017-01-05    27.405804
2017-01-06    27.711330
2017-01-09    27.965155
Name: Close, dtype: float64
Date
2017-12-15    41.544102
2017-12-18    42.129166
2017-12-19    41.680218
2017-12-20    41.634850
2017-12-21    41.792458
2017-12-22    41.792458
2017-12-26    40.732182
2017-12-27    40.739349
2017-12-28    40.853973
2017-12-29    40.412186
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
#Freq: M ----> Month
# to aggregate the daily data into monthly data with .mean
# is printed
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.101465
2017-02-28    31.520056
2017-03-31    33.191428
2017-04-30    33.727005
2017-05-31    36.027137
2017-06-30    35.038141
2017-07-31    35.149098
2017-08-31    37.793847
2017-09-30    37.502155
2017-10-31    37.551832
2017-11-30    41.121434
2017-12-31    41.047758
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
#Freq: W ----> week
# to aggregate the daily data into monthly data with .mean
# It prints but with head() to get the first n rows.
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.420492
2017-01-15    28.021088
2017-01-22    28.189011
2017-01-29    28.476087
2017-02-05    29.581627
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
# Find the last day of the month with the .max function, taking into account the freq: M ----> Month
aapl.resample('M').max()

Date
2017-01-31    28.660816
2017-02-28    32.363441
2017-03-31    34.018078
2017-04-30    34.171505
2017-05-31    36.997929
2017-06-30    36.843868
2017-07-31    36.372204
2017-08-31    39.022987
2017-09-30    39.034882
2017-10-31    40.222218
2017-11-30    41.935429
2017-12-31    42.129166
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean() # every 3 days
two_week = aapl.resample('2W').mean() # Every 2 weeks
two_month = aapl.resample('2M').mean() # every 2 months

print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.323545
2017-01-06    27.711330
2017-01-09    28.034092
2017-01-12    28.001581
2017-01-15    28.202524
                ...
2017-12-17    41.904692
2017-12-20    41.739922
2017-12-23          NaN
2017-12-26    40.775168
2017-12-29    40.412186
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.420492
2017-01-22    28.095720
2017-02-05    29.028857
2017-02-19    31.430840
2017-03-05    32.506638
2017-03-19    32.927812
2017-04-02    33.533493
2017-04-16    33.757389
2017-04-30    33.699660
2017-05-14    35.600251
2017-05-28    36.396623
2017-06-11    36.415397
2017-06-25    34.434852
2017-07-09    34.171664
2017-07-23    35.182636
2017-08-06    36.173828
2017-08-20    37.800720
2017-09-03    38.353879
2017-09-17    38.178276
2017-10-01    36.740372
2017-10-15    36.970468
2017-10-29    37.654323
2017-11-12    40.920304
2017-11-26    41.091976
2017-12-10    40.755587
2017-12-24    41.507329
2018-01-07    40.684422
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.101465
2017-03-31    32.435332
2017-05-31    34.961222
2017-07-31    35.090978
2017-09-30    37.658176
2017-11-30    39.295126
2018-01-31    41.047758
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std() # Each week and compute the standard deviation along the specified axis
max = aapl.resample('W').max() # Each week and returns the largest item value.
min = aapl.resample('W').min() # Each weeek and returns the item with the lowest value


print(std)
print(max)
print(min)

Date
2017-01-08    0.202813
2017-01-15    0.072330
2017-01-22    0.025483
2017-01-29    0.244619
2017-02-05    0.940688
2017-02-12    0.251314
2017-02-19    0.230763
2017-02-26    0.059182
2017-03-05    0.339161
2017-03-12    0.076080
2017-03-19    0.177355
2017-03-26    0.156835
2017-04-02    0.318941
2017-04-09    0.128335
2017-04-16    0.211899
2017-04-23    0.174197
2017-04-30    0.089782
2017-05-07    0.234999
2017-05-14    0.352019
2017-05-21    0.534630
2017-05-28    0.060225
2017-06-04    0.280459
2017-06-11    0.618344
2017-06-18    0.381522
2017-06-25    0.128540
2017-07-02    0.263391
2017-07-09    0.158457
2017-07-16    0.403178
2017-07-23    0.124652
2017-07-30    0.383390
2017-08-06    0.921870
2017-08-13    0.466191
2017-08-20    0.434059
2017-08-27    0.275014
2017-09-03    0.251040
2017-09-10    0.380596
2017-09-17    0.293335
2017-09-24    0.733186
2017-10-01    0.353873
2017-10-08    0.204296
2017-10-15    0.118410
2017-10-22    0.515583
2017-10-29    0.678601
2017-11-05    0.559156
2017-11-12    0.190447
2017-11-19    0.435006
2017-11-26    0.561513
2017-12-03    0.426281
2017-12-10    0.072925
2017-12-17    0.204705
2017-12-24    0.193595
2017-12-31    0.189876
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.711330
2017-01-15    28.143766
2017-01-22    28.202524
2017-01-29    28.660816
2017-02-05    30.336519
2017-02-12    31.256414
2017-02-19    32.035351
2017-02-26    32.363441
2017-03-05    32.996025
2017-03-12    32.932293
2017-03-19    33.208481
2017-03-26    33.390217
2017-04-02    34.018078
2017-04-09    34.171505
2017-04-16    33.793846
2017-04-23    33.621529
2017-04-30    34.114861
2017-05-07    35.160522
2017-05-14    36.997929
2017-05-21    36.903126
2017-05-28    36.497826
2017-06-04    36.843868
2017-06-11    36.824905
2017-06-18    34.743919
2017-06-25    34.684666
2017-07-02    34.563797
2017-07-09    34.172714
2017-07-16    35.324600
2017-07-23    35.793903
2017-07-30    36.372204
2017-08-06    37.244419
2017-08-13    38.173508
2017-08-20    38.451908
2017-08-27    38.066441
2017-09-03    39.034882
2017-09-10    38.566120
2017-09-17    38.428112
2017-09-24    37.769009
2017-10-01    36.698257
2017-10-08    36.974277
2017-10-15    37.354992
2017-10-22    38.183037
2017-10-29    38.796940
2017-11-05    41.045513
2017-11-12    41.935429
2017-11-19    41.544102
2017-11-26    41.782906
2017-12-03    41.572762
2017-12-10    40.548302
2017-12-17    41.544102
2017-12-24    42.129166
2017-12-31    40.853973
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.267141
2017-01-15    27.965155
2017-01-22    28.150822
2017-01-29    28.195471
2017-02-05    28.519800
2017-02-12    30.620886
2017-02-19    31.461765
2017-02-26    32.226540
2017-03-05    32.320946
2017-03-12    32.734013
2017-03-19    32.807194
2017-03-26    33.007828
2017-04-02    33.253304
2017-04-09    33.833973
2017-04-16    33.293434
2017-04-23    33.206097
2017-04-30    33.904778
2017-05-07    34.586937
2017-05-14    36.116474
2017-05-21    35.611397
2017-05-28    36.343769
2017-06-04    36.206291
2017-06-11    35.310383
2017-06-18    33.720016
2017-06-25    34.369442
2017-07-02    34.054211
2017-07-09    33.829044
2017-07-16    34.381290
2017-07-23    35.447853
2017-07-30    35.433636
2017-08-06    35.251125
2017-08-13    36.957619
2017-08-20    37.476341
2017-08-27    37.407333
2017-09-03    38.420982
2017-09-10    37.745220
2017-09-17    37.661938
2017-09-24    36.141472
2017-10-01    35.822628
2017-10-08    36.519806
2017-10-15    37.081348
2017-10-22    37.114666
2017-10-29    37.159874
2017-11-05    39.670185
2017-11-12    41.461922
2017-11-19    40.376373
2017-11-26    40.591286
2017-12-03    40.471886
2017-12-10    40.359661
2017-12-17    41.002022
2017-12-24    41.634850
2017-12-31    40.412186
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
# calculate monthly returns of a stock, based on prices on the last day of each month, with a lambda function
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.519800
2017-02-28    32.335125
2017-03-31    33.909508
2017-04-30    33.907139
2017-05-31    36.206291
2017-06-30    34.134800
2017-07-31    35.251125
2017-08-31    39.022987
2017-09-30    36.672085
2017-10-31    40.222218
2017-11-30    41.037849
2017-12-31    40.412186
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
#calculate the monthly rates of return using the data for the first day and the last day, with a lambda function
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean()) #calculate mean/average of the monthly data
print(monthly_return.std()) # Returns the standard deviation of the monthly data
print(monthly_return.max()) # returns the largest item in the monthly data

0.02686334560008936
0.052258543615464996
0.0990181394054428

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff()) # This function is used when we calculate the n-th order discrete difference along the given axis
print(last_day.pct_change()) # This function calculates the percentage change between the current and a prior element.

Date
2017-01-31         NaN
2017-02-28    3.815325
2017-03-31    1.574383
2017-04-30   -0.002369
2017-05-31    2.299152
2017-06-30   -2.071491
2017-07-31    1.116325
2017-08-31    3.771862
2017-09-30   -2.350903
2017-10-31    3.550133
2017-11-30    0.815632
2017-12-31   -0.625664
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
# Here we´re fill where it was Nan with float(0)
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
# Pandas dataframe.bfill() is used to backward fill the missing values in the dataset. It will backward fill the NaN values that are present in the pandas dataframe.
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
# The dropna() method removes the rows that contains NULL values. The dropna() method returns a new DataFrame object unless the inplace parameter is set to True , in that case the dropna() method does the removing in the original DataFrame instead.
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
# The dictionary is created and instantiated:
# freq: D ---> days
# Periods: 5
# In a range from '2017-07-03'
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5)) # it Return the last 5 rows of " close"
print(df['Volume'].tail(5)) # it Return the last 5 rows of "Volume"

Date
2017-12-22    41.792458
2017-12-26    40.732182
2017-12-27    40.739349
2017-12-28    40.853973
2017-12-29    40.412186
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
# The agg() method allows you to apply a function or a list of function names to be executed along one of the axis of the DataFrame in this case especially with lambda
# So, on 2016 per month
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000        0.0
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200        0.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600        0.0
2016-04-30  21.726100  21.894843  21.383994  21.668312  274126000        0.0
2016-05-31  23.163041  23.349090  22.981644  23.223507  169228800        0.0
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600        0.0
2016-07-31  24.230501  24.314223  24.111894  24.235151  110934800        0.0
2016-08-31  24.705472  24.918247  24.700794  24.808352  118649600        0.0
2016-09-30  26.295458  26.508235  26.141137  26.433413  145516400        0.0
2016-10-31  26.573707  26.709324  26.468487  26.547987  105677600        0.0
2016-11-30  26.228347  26.369359  25.915768  25.974524  144649200        0.0
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

C:\Users\alfre\AppData\Local\Temp/ipykernel_20904/3548474598.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  aapl_2016 = df['2016']

We may select certain columns of a DataFrame using their names:

In [ ]:
# select certain columns of a DataFrame using their names, in this case 'Open', 'High', 'Low', 'Close'.
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028
2016-02-29  22.389512  22.706192  22.340970  22.350216
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726100  21.894843  21.383994  21.668312
2016-05-31  23.163041  23.349090  22.981644  23.223507
2016-06-30  21.963034  22.272338  21.930475  22.232803
2016-07-31  24.230501  24.314223  24.111894  24.235151
2016-08-31  24.705472  24.918247  24.700794  24.808352
2016-09-30  26.295458  26.508235  26.141137  26.433413
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228347  26.369359  25.915768  25.974524
2016-12-31  27.415205  27.544465  27.128479  27.220137

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
# Select the columns 'Open', 'High', 'Low', 'Close' between the range of '2016-03':'2016-06'
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726100  21.894843  21.383994  21.668312
2016-05-31  23.163041  23.349090  22.981644  23.223507
2016-06-30  21.963034  22.272338  21.930475  22.232803

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
# The data is obtained by comparing the average, then the obtained data that are greater than the average will be displayed.
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-08-31  24.705472  24.918247  24.700794  24.808352
2016-09-30  26.295458  26.508235  26.141137  26.433413
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228347  26.369359  25.915768  25.974524
2016-12-31  27.415205  27.544465  27.128479  27.220137

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
# rate_return calculates the percentage change between the current and a prior element in this case with the finlal days of the month on 2016
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705472  24.918247  24.700794  24.808352     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065505
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955

C:\Users\alfre\AppData\Local\Temp/ipykernel_20904/3298808880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aapl_bar['rate_return'] = aapl_bar.Close.pct_change()

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
"""The isnull() function is used to detect missing values for an array-like object. This function takes a scalar or array-like object and 
indicates whether values are missing (NaN in numeric arrays, None or NaN in object arrays, NaT in datetimelike). Object to check for null or missing values """

missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
"""
with the function dropna() removes null values (missing values)
from the DataFrame by dropping the rows or columns containing the null values, 
and fills them with 0
"""
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705472  24.918247  24.700794  24.808352     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065505
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028     0.000000
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705472  24.918247  24.700794  24.808352     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065505
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
# It Concatenate pandas objects along a particular axis with optional set logic along the other axes.
# So in this case, it concatenates ¨AAPL¨ and ¨GOOG" with the axis 1 in [s1,s2].
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:

log_price = np.log(aapl_bar.Close) # will apply log 
log_price.name = 'log_price' # Update the variable name
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1) # Concatenate the resulting operation of log_price and aapl_bar
print(concat) # will print this concatenation

Date
2016-01-31    3.108124
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211180
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN   3.108124
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001287   3.106836
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211   3.226582
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921   3.075851
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773   3.145165
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660   3.101569
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063   3.187804
2016-08-31  24.705472  24.918247  24.700794  24.808352     0.023652   3.211180
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065505   3.274629
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334   3.278954
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601   3.257116
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955   3.303957

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1]) # This function will search for the attributes 'Volume', 'Stock Splits' in the range of '2016-10':'2017-04' each month
print(df_volume) # Print the previous logarithm
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1]) # This function will search for attributes 'Open', 'High', 'Low', 'Close' in the range '2016-10':'2017-04' each month
print(df_2017) # Print the previous logarithm

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228347  26.369359  25.915768  25.974524
2016-12-31  27.415205  27.544465  27.128479  27.220137
2017-01-31  28.472797  28.529201  28.348236  28.519800
2017-02-28  32.356368  32.441342  32.266671  32.335125
2017-03-31  33.923670  34.053492  33.756080  33.909508
2017-04-30  34.010997  34.060567  33.817446  33.907139

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat) # Print the concatenation of the above attributes in order of ideas to merge

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705472  24.918247  24.700794  24.808352     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065505
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
# Perform the above procedure but now perform a merge using an inner join
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat) # print this procedure

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:

# This append df_2017 into aapl_bar
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705472  24.918247  24.700794  24.808352     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065505
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955
2016-10-31  26.573707  26.709324  26.468487  26.547987          NaN
2016-11-30  26.228347  26.369359  25.915768  25.974524          NaN
2016-12-31  27.415205  27.544465  27.128479  27.220137          NaN
2017-01-31  28.472797  28.529201  28.348236  28.519800          NaN
2017-02-28  32.356368  32.441342  32.266671  32.335125          NaN
2017-03-31  33.923670  34.053492  33.756080  33.909508          NaN
2017-04-30  34.010997  34.060567  33.817446  33.907139          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
# This is just an alternative way to append.
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705472  24.918247  24.700794  24.808352     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065505
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955
2016-10-31  26.573707  26.709324  26.468487  26.547987          NaN
2016-11-30  26.228347  26.369359  25.915768  25.974524          NaN
2016-12-31  27.415205  27.544465  27.128479  27.220137          NaN
2017-01-31  28.472797  28.529201  28.348236  28.519800          NaN
2017-02-28  32.356368  32.441342  32.266671  32.335125          NaN
2017-03-31  33.923670  34.053492  33.756080  33.909508          NaN
2017-04-30  34.010997  34.060567  33.817446  33.907139          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
# We change the names of the columns to prevent them from being considered in the same way
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0) # By changing the name of the columns, we perform the concatenation process
print(concat) # We print.

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028          NaN        NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216    -0.001287        NaN
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211        NaN
2016-04-30  21.726100  21.894843  21.383994  21.668312    -0.139921        NaN
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773        NaN
2016-06-30  21.963034  22.272338  21.930475  22.232803    -0.042660        NaN
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063        NaN
2016-08-31  24.705472  24.918247  24.700794  24.808352     0.023652        NaN
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065505        NaN
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334        NaN
2016-11-30  26.228347  26.369359  25.915768  25.974524    -0.021601        NaN
2016-12-31  27.415205  27.544465  27.128479  27.220137     0.047955        NaN
2016-10-31        NaN  26.709324  26.468487  26.547987          NaN  26.573707
2016-11-30        NaN  26.369359  25.915768  25.974524          NaN  26.228347
2016-12-31        NaN  27.544465  27.128479  27.220137          NaN  27.415205
2017-01-31        NaN  28.529201  28.348236  28.519800          NaN  28.472797
2017-02-28        NaN  32.441342  32.266671  32.335125          NaN  32.356368
2017-03-31        NaN  34.053492  33.756080  33.909508          NaN  33.923670
2017-04-30        NaN  34.060567  33.817446  33.907139          NaN  34.010997

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.